/*
	Created by kodeforest
=====================================
	template colors #f5600c;  ORANGE
    template colors #1276bc;   BLUE
=====================================
*/



/*
	=========================================
			Orange Template background
	=========================================
*/
.header-version-2-row-scend,
.search-01 btn:hover,
.submit-btn,
.kf_post:hover .arrow-btn2:after,
.orange-effect1 li:hover a,
.blue-listing .list-figure-img:before,
.orange-listing .btn-radio-2:hover,
.orange-listing .flag-top01,
ul.orange-effect li:hover a,
.arrow-btn2:hover:after,
.radio-columns:hover span,
.black-bk:hover,
.accordion-open.sm-title i,
.travel-price-bord,
.widget-social-media li:hover a,
.widget-gallery figure:before,
.simple-1:hover,
.slick-arrow:hover:before,
.kode_navi_fixed li:hover a.nav-icon,
.kode_navi_fixed li.active a,
.widget-gallery figure:before,
.instagram figure:before,
.orange-bg
{
	background:#961407;
}





/*
	=========================================
			Orange Template color
	=========================================
*/.header-v2 .fade-slider p a,
.checkbox-02 input[type="checkbox"]:checked ~ label:before,
.title-anchor a,
.blue-listing:hover .kf_listing-content h4 a,
.radio-columns:hover h4 a,
.error-page h2 span,
.rateing-icon i,
.upper-zoom:hover,
ul.tour-tab-content li.active a span,
ul.tour-tab-content li.active a h6,
ul.tour-tab-content li:hover span,
ul.tour-tab-content li:hover h6,
.category li:hover a,
.category li:hover span,
.category li:hover span:after,
.category li:hover span:before,
.travel-author-content h5:hover a,
.widget-review-slide span,
.answer-btn,
.blog-detail-content h4:hover a,
.blockquote-boderlines span,
.kf_element_right .kf_meta li:hover a,
.kf_post:hover .kf_post_content h4 a,
.meta_tag li:hover span,
.meta_tag li:hover a,
.effect2-color-2:hover,
.kf_arrow_list li:hover a,
.kf_arrow_list li:hover a:before,
.kf_meta_2 li:hover a,
.sub-menu li:hover a,
ul.children li:hover a,
.kode_social_icons li:hover a
{
	color:#961407;
}






/*
	=========================================
			Orange Template border color
	=========================================
*/div.label-effect input:focus,
.checkbox-02 input[type="checkbox"]:checked ~ label:before,
.kf_post:hover .arrow-btn2,
.orange-effect1 li:hover a,
form.form-commingsoon div input,
.arrow-btn2:hover,
.radio-columns:hover span,
.tour-tab-content li:hover a:before,
ul.tour-tab-content li:before,
ul.tour-tab-content li.active a:before,
textarea:focus,
.text-felid input:focus,
.category li:hover:before,
div.blockquote-boderlines:after,
div.blockquote-boderlines:before,
body blockquote:after,
body blockquote:before,
div.blockquote-boderlines p:before,
div.fixed-header-nav,
div.item-showcase.slick-slide.slick-current.slick-active,
.border-line-style:before,
input:focus
{
	border-color:#961407 ;
}

/*
	=========================================
			Blue Template background
	=========================================
*/
#top-btn,
.background-log,
body.mode-search .control-search .btn,
.kf_side_menu_btn,
.dl-menuwrapper button,
.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.booking-bottom li:hover button,
.booking-bottom li .open button,
.travel-grid-1:hover .black-bg-origial,
.kf_shop-column:hover .icon-bottom,
.blue-effect1 li:hover a,
.blue-listing .btn-radio-2:hover,
.blue-listing .flag-top01,
.orange-listing .list-figure-img:before,
.view-box span:before,
.destination-grid-02:hover figure:before,
.destination-grid-03 figure:before,
.radio-btn-2:hover,
.comming-soon:before,
.travel-choose-us:hover span,
.radio-btn-1:hover,
.details-items-gallery li:before,
.widget-post figure:before,
.slick-dots li.slick-active button,
.play-pause-btn button:focus,
.play-pause-btn button:hover,
.tour-trip-visit .play-tour a:hover,
.zoom-in a:hover,
.overlay-blue:before,
.kf_testimonial .slick-slide.slick-current.slick-active.slick-center .testimonial-items,
.kode_social_icons_2 li:hover a,
.city-blog figure:before,
.blog-1:hover figure:before,
.booking-bottom li .social-icons,
.booking-bottom li:hover,
.radio-price,
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled.disabled:hover, .datepicker table tr td.active[disabled], .datepicker table tr td.active[disabled]:hover, .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled[disabled]:hover,
.tabs-items li a,
.title-icon span,
.sub-menu,
ul.children,
.blue-bg,
.header_v1_top_row


{
	/*background:#1999d9;*/
	background:#1276bc;
}

.kf_select.active .selectric-wrapper{
	background:#0765a7;
}



/*
	=========================================
			Blue Template color
	=========================================
*/

.forget-pass:hover,
.travel_paris_blog h5:hover a,
.list-style-2:hover h5 a,
div.grid2-sty2 a.btn-normal-1:hover,
.travel-grid-1:hover h4 a,
.navigation > ul > li:hover > a,
.txt-hvr3 a:hover,
.txt-hvr3 a:focus,
.travel-service-column:hover h4 a,
.kf_filtrable_pinter li:hover a,
.kf_filtrable_pinter li.active a,
.kf_shop_figcaption h6 a:hover,
.kf_hover_btns a:hover,
.orange-listing:hover .kf_listing-content h4 a,
.kf_blog-02:hover .kf_trip_content h6 a,
.destination-grid-03:hover .destination-content-03 h6 a,
.effect2-color-1:hover,
.slide:hover .arrow-btn:before,
.slide:hover .arrow-btn,
.slide:hover .slide-content span,
.slide:hover .slide-content h5 a,
.pagination a:hover,
.pagination a.active,
.travel-choose-us:hover h5 a,
.error-page h2,
.ralated-post-style:hover h6 a,
.download-file:hover .download-btn,
.kf_column_trip:hover .radio-price,
.kf_column_trip:hover .kf_trip_content h4 a,
.kf-expert-columns:hover .kf_expert_content h5 a,
.city-blog:hover span,
.kf_trip_content h4 a:hover,
.kf_meta_2 li:hover a,
.kf_icons_meta li:hover a
{
	color:#1276bc;
}


/*
	==============================================
			Blue Template border color
	==============================================
*/

div.slide div.default-img:after,
.kf_shop-column:hover,
.blue-effect1 li:hover a,
.slide:hover .slide-content span,
.slide:hover figure:after,
.pagination a:hover,
.pagination a.active,
.travel-choose-us:hover span,
.form-textarea textarea:focus,
.form-content-2 .text-felid input:focus,
.download-file:hover .download-btn,
.booking-felids input[type="text"]:focus,
.social_icons_tags li:hover a,
.slick-dots li.slick-active button,
.kf_column_trip:hover .radio-price,
ul.kf_filtrable_pinter li a:before,
ul.kf_filtrable_pinter li.active a:before{
	border-color:#1276bc;
}



/*
	==============================================
			CUSTOM BORDER COLORS
	==============================================
*/
.kf_testimonial .slick-slide.slick-current.slick-active.slick-center .testimonial-items:before{
	border-color: transparent #1276bc transparent transparent;
}	

.booking-bottom li .social-icons:before{
	border-color: transparent #1276bc transparent transparent;
}

.blue-bg.flg-1:before{
	border-color: #1999d9 transparent transparent transparent;
}
.orange-bg.flg-1:before{
	border-color: #961407 transparent transparent transparent;
}

.breadcrumb:before{
	border-color: transparent #961407 transparent transparent;
}
.breadcrumb:after{
	border-color: #961407 transparent transparent transparent;
}
.picture-effect:before{
	border-color: transparent #1276bc transparent transparent;
}
.black-bk{
    background: #4d4d4d;
}
.white-bg{
	background:#f7f7f7;
}
.orange-listing .flag-top01:before{
    border-color: transparent transparent #aa0c03;
}


/*
	==============================================
			TRANSITIONS 
	==============================================
*/
.default-img:before,
.default-img:after,
.default-img,
.full-slider .slide,
.travel_paris_blog h5 a,
.checkbox-02 label:before,
ul.tour-tab-content li a:before,
.dropdown.open,
.list-style-2 h5 a,
.arrow-btn::before,
.travel-choose-us h5 a, .slide-content h5 a,
.slide figure:before,
.travel-grid-1 h4 a,
.travel-grid-1 .black-bg-origial,
.sub-menu li:before,
.sub-menu li a,
.sub-menu li a:after,
.travel-service-column h4 a,
.tab-pane.fade,
.icon-bottom,
.kf_shop_caption,
.kf_shop-column:before,
.kf_shop_figcaption,
.kf_shop_caption
.kf_shop_figcaption h6 a,
.kf_hover_btns a,
.btn-hover,
.kf_listing-content h4 a,
.kf_social_group li,
.kf_social_group li a,
.list-figure-img:before,
.btn-radio-2,
.view-box span:before,
.view-box span,
.blog-02-footer:before,
.kf_blog-02 .kf_trip_content h6 a,
.radio-btn-2,
.hover-plus,
.destination-grid-03 figure:before,
.destination-grid-02 figure:before,
.grid2-sty2 span,
.grid2-sty2 h6,
.grid2-sty2 h6 a,
.destination-grid:before,
.destination-grid:after,
.destination-grid-content,
.destination-grid-content > a,
.destination-grid-content > p,
.slide figure img,
.slide figure:after,
.arrow-btn2:after,
.pagination a,
.pagination a.active,
.brands-slider .slide img,
.brands-slider .slide,
.travel-choose-us span,
.slide-content .arrow-btn,
.slide-content span,
.radio-columns h4 a,
.radio-columns span,
.black-bk,
.list-tabs .tab li,
.list-tabs .tab li a,
.ralated-post-style h6 a,
.download-btn,
.download-file,
.booking-felids i,
.btn-normal-1,
.radio-btn-1,
.upper-zoom,
.details-items-gallery li:before,
.sm-title i,
.tour-tab-content li:before,
.tab-content-column h6,
.tab-content-column span,
.tour-tab-content li a,
.tour-tab-content li,
.open-zoomer figure:before,
.open-zoomer figure img,
.picture-effect,
.picture-effect:before,
textarea,
.text-felid input,
.category li span:after,
.category li span:before,
.category li a,
.category li:before,
.category li span,
.travel-author-content h5 a,
.widget-social-media li,
.widget-social-media li a,
.widget-gallery figure:before,
.widget-gallery figure a,
.widget-post figure img,
.widget-post figure:before,
.widget-post figure,
.widget-post figure a,
.blog-detail-content h4 a,
.simple-1,
.slick-arrow:before,
.slick-arrow,
.item-showcase,
.slick-dots li button,
.blog_elements,
.five_blog_content,
.five_blog_content p,
.play-pause-btn button,
.play-pause-btn button:focus,
.nav-icon,
.nav-icon span,
.nav-icon i,
.tour-trip-visit .play-tour a,
.kf_column_trip .radio-price,
.kf_column_trip .kf_trip_content h4 a,
.kf_column_trip figure img,
.kf-expert-columns figure,
.zoom-in a,
input:focus,
.kf_post figure img,
figure img,
.kf_post .kf_post_content h4 a,
.meta_tag li span,
.meta_tag li a,
.kf_arrow_list li a:before,
.kf_arrow_list li a,
.widget-gallery figure a,
.widget-gallery figure:before,
.instagram figure a,
.instagram figure:before,
.kf-expert-columns .zoom-in,
.kf-expert-columns figure:before,
.kf-expert-columns .kf_expert_content h5 a,
.kode_social_icons_2 li a,
.kf_expert_content,
.kode_social_icons_2,
.city-blog span,
.city-blog figure i,
.city-blog figure:before,
.blog-1 figure:before,
.tour-trip,
.blog-1 .tour-trip a,
.blog-1 .tour-trip p,
.kf_trip_content h4 a,
.kf_meta_2 li a,
.kf_filtrable_pinter li a:before,
.booking-bottom li .social-icons,
.booking-bottom li,
.booking-bottom li a,
.kf_meta_2 li a,
.kf_icons_meta li a,
.tabs-items li a,
.navigation ul li a,
.sub-menu,
ul.children,
.kf_meta li a,
.kf_side_menu_btn,
.search-01 a,
.kode_social_icons li a,
.forget-pass,
.selectric-items ul, .selectric-items li,
.selectric-items .selectric-scroll,
.kf_select .selectric-wrapper{

-webkit-transition:all 0.4s ease-in-out;
		-moz-transition:all 0.4s ease-in-out;
			-ms-transition:all 0.4s ease-in-out;
				-o-transition:all 0.4s ease-in-out;
					transition:all 0.4s ease-in-out;

}
body.mode-search .kf-search-menu button{
    -webkit-transition:all 1s ease-in-out;
		-moz-transition:all 1s ease-in-out;
			-ms-transition:all 1s ease-in-out;
				-o-transition:all 1s ease-in-out;
					transition:all 1s ease-in-out;
}
.ck-box{
	-webkit-transition:all 0.4s ease-in-out 0.12s;
		-moz-transition:all 0.4s ease-in-out 0.12s;
			-ms-transition:all 0.4s ease-in-out 0.12s;
				-o-transition:all 0.4s ease-in-out 0.12s;
					transition:all 0.4s ease-in-out 0.12s;
}